<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Compiled and minified CSS. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <title>Canary Release Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
    <div class="row">
    <div class="col s2">&nbsp;</div>
    <div class="col s8">

    <div class="card blue">
    <div class="card-content white-text">
    <div class="card-title">Python PTDS</div>
    </div>
    <div class="card-content white">
    {% block content %}
    {% endblock %}

</body>
</html>
